<h2 mat-dialog-title *ngIf="isUpdateMode">Modification du questionnaire</h2>
<h2 mat-dialog-title *ngIf="!isUpdateMode">Création d'un questionnaire</h2>


<mat-dialog-content>
  <form novalidate [formGroup]="questionnaireForm">
    <mat-form-field class="full-width" [class.mgb15]="questionnaireForm.get('title').dirty">
      <input primary matInput placeholder="Titre du questionnaire" formControlName="title" required name="title" />
      <mat-error *ngIf="questionnaireForm.get('title').dirty && questionnaireForm.get('title').hasError('required')">
        Title est <strong>requis</strong>
      </mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field class="full-width" [class.mgb15]="questionnaireForm.get('level').dirty">
      <input matInput placeholder="Niveau de difficulté du quizz" formControlName="level" required name="level" />
      <mat-error *ngIf="questionnaireForm.get('level').dirty && questionnaireForm.get('level').hasError('required')">
        Level est <strong>requis</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" [class.mgb15]="questionnaireForm.get('category').dirty">
      <mat-select placeholder="Catégorie" formControlName="category" required name="category" >
        <mat-option value="sport">Sport</mat-option>
        <mat-option value="science">Science</mat-option>
        <mat-option value="cinema">Cinéma</mat-option>
        <mat-option value="musique">Musique</mat-option>
      </mat-select>
      <mat-error *ngIf="questionnaireForm.get('category').dirty && questionnaireForm.get('category').hasError('required')">
        Categorie est <strong>requis</strong>
      </mat-error>
    </mat-form-field>
    <hr />


    <!-- section Questions -->
    <h6 class="text-center text-primary">Les questions à définir</h6>
    <div formArrayName="questionnaire"
         *ngFor="let question of questionnaireForm.get('questionnaire').controls; let questionnaireIndex = index;">
      <div [formGroupName]="questionnaireIndex">
        <hr/>
        <h6>Question {{questionnaireIndex}}</h6>
        <div *ngIf="questionnaireIndex > 0">
          <div class="text-left">
            <button mat-raised-button color="warn" type="button" (click)="deleteQuestion(questionnaireIndex)">
              Supprimer la question
              <i class="material-icons">
                delete_sweep
              </i>
            </button>
          </div>
        </div>
        <mat-form-field class="full-width">
          <input matInput placeholder="Question" formControlName="title" name="title"/>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Réponse à la question" formControlName="response" name="response"/>
        </mat-form-field>


        <!-- section Choices -->
        <div class="text-right">
          <button mat-raised-button color="primary" type="button" (click)="addChoice(question)">
            Ajouter un choix de réponse
            <i class="material-icons">playlist_add</i>
          </button>
        </div>
        <div formArrayName="choices">
          <div *ngFor="let choice of question.get('choices').controls; let choiceIndex = index" [formGroupName]="choiceIndex">
            <mat-form-field class="full-width">
              <input matInput formControlName="choice" placeholder="Réponse potentiel">
            </mat-form-field>
            <div class="text-right">
              <button mat-raised-button color="accent" type="button" (click)="deleteChoice(question, choiceIndex)">
                Supprimer le choix
                <i class="material-icons">
                  delete_outline
                </i>
              </button>
            </div>
          </div>
        </div>
        <!-- fin section Choices -->

      </div>
    </div>
    <button mat-raised-button color="warn" type="button" (click)="addQuestion()">
      Ajouter une question
      <i class="material-icons">
        add
      </i>
    </button>

  </form>
</mat-dialog-content>

    <mat-dialog-actions>
      <button mat-button type="button" (click)="cancel()">Cancel</button>
      <button mat-button color="primary" type="submit" (click)="save(questionnaireForm.value)" [disabled]="questionnaireForm.invalid">Save</button>
    </mat-dialog-actions>

