section {
  margin-top: 78px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #D5D6D2;
  border: none;
}

.btn-create {
  position: fixed;
  bottom: 0;
  right: 0;
}
