section {
  margin-top: 78px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #D5D6D2;
  border: none;
}

.btn-create {
  font-size: 70px;
  background-color: dimgrey;
  position: relative;
  margin-left: 100px;
  height: 100px;
  width: 100px;
  size: 400px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.2),
  0 2px 2px 0 rgba(0,0,0,.14),
  0 3px 1px -2px rgba(0,0,0,.12);
}

.btn-create:hover {
  transform: scale(0.9);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),
  0 2px 2px 0 rgba(0,0,0,.14),
  0 3px 1px -2px rgba(0,0,0,.12);
}
