<mat-grid-list cols="4" rowHeight="100px" class="font">
  <mat-grid-tile color="primary" [colspan]="2" [rowspan]="5" class="grid" [routerLink]="['/questionnaires', 'sport']">Sport</mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="5" class="grid" [routerLink]="['/questionnaires', 'cinema']" >Cinema</mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="5" class="grid" [routerLink]="['/questionnaires', 'musique']">Musique</mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="5" class="grid" [routerLink]="['/questionnaires', 'science']">Science</mat-grid-tile>
</mat-grid-list>
